<section>
  <div class="observacao">
    <p>Lembrancinhas</p>
  </div>

  <h6>Lembrancinhas</h6>

  <div *ngFor="let prod of listaLembrancinhas" class="card">
    <!-- <ngb-carousel class="carrossel">
      <ng-template *ngFor="let foto of prod.urlFoto" ngbSlide>
        <div class="picsum-img-wrapper">
          <img [src]="foto" alt="Doces" />
        </div>
      </ng-template>
    </ngb-carousel>
    <img src="{{ prod.urlFoto[0] }}" alt="{{ prod.titulo }}" />-->
    <p>Lembrancinha {{ prod.id }}</p>
    <div>
      <h4 *ngIf="prod.ativo && prod.titulo" class="title">{{ prod.titulo }}</h4>
      <h3 *ngIf="prod.ativo" class="description">{{ prod.descricao }}</h3>
      <div class="minhaclasse">
        <p *ngIf="prod.peso && prod.ativo" class="title">
          Peso ≅ {{ prod.peso }}g
        </p>
        <h5 *ngIf="prod.ativo" class="preco">
          {{ prod.valor | currency : "BRL" }}
        </h5>
      </div>
      <h3 *ngIf="prod.ativo && prod.descricao2" class="description">
        {{ prod.descricao2 }}
      </h3>
      <div *ngIf="prod.valor2 && prod.ativo" class="minhaclasse">
        <p *ngIf="prod.peso2 && prod.ativo" class="title">
          Peso ≅ {{ prod.peso2 }}g
        </p>
        <h5 *ngIf="prod.ativo && prod.valor2" class="preco">
          {{ prod.valor2 | currency : "BRL" }}
        </h5>
      </div>
      <div *ngIf="prod.peso3 && prod.ativo" class="minhaclasse">
        <p *ngIf="prod.peso3 && prod.ativo" class="title">
          Peso ≅ {{ prod.peso3 }}g
        </p>
        <h5 *ngIf="prod.ativo" class="preco">
          {{ prod.valor3 | currency : "BRL" }}
        </h5>
      </div>
      <img src="{{ prod.urlFoto }}" alt="{{ prod.titulo }}" />
      <h5 *ngIf="!prod.ativo" class="esgotado">Esgotado</h5>
      <p *ngIf="prod.recheio && prod.ativo">Sabores:</p>
      <ul *ngFor="let recheio of prod.recheio">
        <li *ngIf="prod.ativo">{{ recheio }}</li>
      </ul>
    </div>
  </div>
</section>
