<footer>
  <div>
    <h3>Gostou?</h3>
    <p>Faça já sua encomenda pelas redes sociais ou pelo número</p>
    <p class="numero">
      <a
        href="https://api.whatsapp.com/send/?phone=5535984071882"
        target="_blank"
        >35 98407-1882</a
      >
    </p>
  </div>
  <div>
    <p>Siga para ficar por dentro de todas as novidades!</p>
    <ul>
      <li>
        <a href="https://www.instagram.com/monicamedeiros8292/" target="_blank"
          ><img src="assets/instagram.svg" alt="Instagram"
        /></a>
      </li>
      <li>
        <a href="https://www.facebook.com/monica.medeiros.7106" target="_blank"
          ><img src="assets/facebook.svg" alt="Facebook"
        /></a>
      </li>
      <li>
        <a
          href="https://api.whatsapp.com/send/?phone=5535984071882"
          target="_blank"
          ><img id="whatsapp" src="assets/whatsapp.svg" alt="Whatsapp"
        /></a>
      </li>
    </ul>
  </div>
</footer>
<div class="contato-dev">
  Site desenvolvido por
  <a href="wa.me/5535984682335" target="_blank">Amanda Medeiros</a>
</div>
