img {
  width: 80%;
  border-radius: 30px;
}

.card {
  display: flex;
  background-color: #c2dea2;
  color: #392620;
  outline: 2px rgb(94, 38, 38) groove;
  outline-offset: -10px;
  padding: 3rem;
  margin: 1rem 0.5rem;
  height: auto;
  border-radius: 100px;
  justify-content: center;
  align-items: center;
  max-width: 600px;
}

.card-lembrancinha {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  background-color: #775a46;
  color: white;
  outline: 2px white groove;
  outline-offset: -10px;
  padding: 3rem;
  margin: 1rem 0;
  min-height: 16rem;
  max-width: 80vw;
  border-radius: 100px;
  justify-content: space-evenly;
  align-items: center;
}
.card h3 {
  margin-top: 1rem;
}

.carrossel {
  justify-content: center;
  margin: auto;
}
.lembrancinha {
  width: 90%;
  max-width: 400px;
  margin: 1rem;
}

section {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  text-align: center;
  /*background: url("../../../assets/coracoes.png");*/
  background-size: contain;
  width: 100%;
}

li {
  list-style-type: none;
  color: #392620;
}

h3,
h4,
p {
  margin-bottom: 1rem;
  color: #392620;
}

p {
  margin-top: 1rem;
}

.preco,
.esgotado {
  font-size: larger;
  color: white;
  border-radius: 10px;
  padding: 0.5rem;
  width: fit-content;
  margin: auto;
  margin: 1rem;
  background-color: #f7a4ad;
}
.esgotado {
  margin: 2rem auto 0;
}

.observacao {
  width: 100%;
  color: white!;
  background-color: #d87982;
  padding: 1rem;
  font-size: large;
  font-weight: bold;
  margin-bottom: 5px;
}
.observacao p {
  color: white;
}
@media only screen and (max-width: 800px) {
  .card {
    width: 100%;
  }
}

.minhaclasse {
  display: flex;
  justify-content: center;
  align-items: center;
}
.minhaclasse p,
.minhaclasse h5 {
  margin-top: 0;
}

h6 {
  background-color: #f7a4ad;
  width: 100%;
  font-size: 2.5rem;
  padding: 0.5rem;
  color: white;
}

h4 {
  background-color: #f7a4ad;
  border-radius: 5px;
  text-transform: uppercase;
  padding: 0.8rem;
  width: fit-content;
  display: inline-block;
  color: white;
}

li {
}
