/* You can add global styles to this file, and also import other style files */

@import url("https://fonts.googleapis.com/css2?family=Comfortaa&display=swap");

body {
  background-color: #fff0cf;
}

header,
body,
div,
html,
h1,
h2,
h3,
h4,
a,
img,
p,
section,
footer,
ul,
li {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Comfortaa";
  color: #568179;
}
